//-
  TsingWin - 算力网络控制平台
  Copyright (C) 2017-2021  TsingWin (http://www.tsingwin.net)
  Licensed under GPLv3 - see LICENSE for details.

extends controller_layout

block content
  //- h1!= title

  h2
    a(href='https://zerotier.com' target='_blank') TsingWin 
    | - 算力网络控制平台v1.0
    p 
    p 
    p 
    p(style="font-size:12px; color:black;") 欢迎使用我们的网络控制平台

    

  - const controllerAddressTextEn = 'This network controller has a ZeroTier address of'
  - const controllerAddressTextZh = '此网络控制器具有ZeroTier地址'
  - const versionTextEn = 'ZeroTier version'
  - const versionTextZh = 'ZeroTier版本'
  - const listNetworksTextEn = 'List all networks on this network controller'
  - const listNetworksTextZh = '列出此网络控制器上的所有网络'
  
  if error
     b #{error}
  else
    h4
      if t.lang && t.lang.toggle === '中'
        = controllerAddressTextZh
      else
        = controllerAddressTextEn
      |  <b>#{zt_status.address}</b>
    h4
      if t.lang && t.lang.toggle === '中'
        = versionTextZh
      else
        = versionTextEn
      |  <b>#{zt_status.version}</b>
    h4
      a(href='/controller/networks')
        if t.lang && t.lang.toggle === '中'
          = listNetworksTextZh
        else
          = listNetworksTextEn
