//-
  TsingWin - 算力网络控制平台
  Copyright (C) 2017-2021  TsingWin (http://www.tsingwin.net)
  Licensed under GPLv3 - see LICENSE for details.

extends controller_layout

block content
  //- h1!= title

  h2
    a(href='https://zerotier.com' target='_blank') TsingWin 
    | - 算力网络控制平台v1.0
    p 
    p 
    p 
    p(style="font-size:12px; color:black;") 欢迎使用我们的网络控制平台

    

  if error
     b #{error}
  else
    h4 This network controller has a ZeroTier address of <b>#{zt_status.address}</b>
    h4 ZeroTier version <b>#{zt_status.version}</b>
    h4
      a(href='/controller/networks') List all networks on this network controller
