//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  TsingWin (http://www.tsingwin.net)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content
  - if (member !== undefined)
    h4 for member
      a(href='../' + member.address)  #{member.address}
  - const editingTextEn = 'Editing of'
  - const editingTextZh = '编辑'
  - const notImplementedTextEn = 'has not been implemented.'
  - const notImplementedTextZh = '尚未实现。'
  - const noteTextEn = 'Note that you may be able to edit some properties on the'
  - const noteTextZh = '注意：您可能可以在'
  - const membersTextEn = 'Members'
  - const membersTextZh = '成员'
  - const pageTextEn = 'page.'
  - const pageTextZh = '页面上编辑某些属性。'
  
  h4
    if t.lang && t.lang.toggle === '中'
      = editingTextZh
    else
      = editingTextEn
    b  #{title}
    | 
    if t.lang && t.lang.toggle === '中'
      = notImplementedTextZh
    else
      = notImplementedTextEn

  h4
    if t.lang && t.lang.toggle === '中'
      = noteTextZh
    else
      = noteTextEn
    strong
      a(href='/controller/network/' + network.nwid + '#members')
        if t.lang && t.lang.toggle === '中'
          = membersTextZh
        else
          = membersTextEn
    | 
    if t.lang && t.lang.toggle === '中'
      = pageTextZh
    else
      = pageTextEn
