//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  TsingWin (http://www.tsingwin.net)
  Licensed under GPLv3 - see LICENSE for details.

extends head_layout

block nav_items
  +nav_item('controller_home', t.nav.home, '/controller')
  +nav_item('users', t.nav.users, '/users')
  +nav_item('networks', t.nav.networks, '/controller/networks')
  +nav_item('create_user', t.nav.create_user, '/users/create')

block body_content
  .container(style='margin-top:50px')
    .row
      .col-sm-12
        if error
           b #{error}
        else
          h1= title
          block users_content
