//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  TsingWin (http://www.tsingwin.net)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content
  script.
    $(function() {
      $('.checkbox').on('click', function() {
        $.post('', {'zt': $('#v4AssignModeCheckBox').is(':checked')});
      });
    });

  - const autoAssignTextEn = 'Auto assign from ZT range'
  - const autoAssignTextZh = '从ZT范围自动分配'
  
  form(method='POST' action='')
    table.table.table-responsive.table-striped.table-hover
      tr
        td(width='3%')
          input#v4AssignModeCheckBox.checkbox(type='checkbox' checked=(network.v4AssignMode.zt? true : false))
        td
          if t.networks && t.networks.v4_assign_page && t.networks.v4_assign_page.auto_assign
            = t.networks.v4_assign_page.auto_assign
          else
            = t.lang && t.lang.toggle === '中' ? autoAssignTextZh : autoAssignTextEn

  if errors
    ul
      for err in errors
        li!= err.msg
