//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  TsingWin (http://www.tsingwin.net)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content
  script.
    $(function() {
      $('.checkbox').on('click', function() {
        $.post('', {'6plane': $('#6planeCheckBox').is(':checked'), 'rfc4193': $('#rfc4193CheckBox').is(':checked'), 'zt': $('#ztCheckBox').is(':checked')});
      });
    });

  - const zt6PlaneTextEn = '6PLANE (deprecated)'
  - const zt6PlaneTextZh = '6PLANE（已弃用）'
  - const ztRfc4193TextEn = 'RFC4193 (ULA fc00::/7)'
  - const ztRfc4193TextZh = 'RFC4193 (ULA fc00::/7)'
  - const autoAssignTextEn = 'Auto assign from ZT range'
  - const autoAssignTextZh = '从ZT范围自动分配'
  
  form(method='POST' action='')
    table.table.table-responsive.table-striped.table-hover
      tr
        td(width='3%')
          input#6planeCheckBox.checkbox(type='checkbox' checked=(network.v6AssignMode['6plane']? true : false))
        td
          if t.networks && t.networks.v6_assign_page && t.networks.v6_assign_page.zt_6plane
            = t.networks.v6_assign_page.zt_6plane
          else
            = t.lang && t.lang.toggle === '中' ? zt6PlaneTextZh : zt6PlaneTextEn
      tr
        td
          input#rfc4193CheckBox.checkbox(type='checkbox' checked=(network.v6AssignMode['rfc4193']? true : false))
        td
          if t.networks && t.networks.v6_assign_page && t.networks.v6_assign_page.zt_rfc4193
            = t.networks.v6_assign_page.zt_rfc4193
          else
            = t.lang && t.lang.toggle === '中' ? ztRfc4193TextZh : ztRfc4193TextEn
      tr
        td
          input#ztCheckBox.checkbox(type='checkbox' checked=(network.v6AssignMode['zt']? true : false))
        td
          if t.networks && t.networks.v6_assign_page && t.networks.v6_assign_page.auto_assign
            = t.networks.v6_assign_page.auto_assign
          else
            = t.lang && t.lang.toggle === '中' ? autoAssignTextZh : autoAssignTextEn

  if errors
    ul
      for err in errors
        li!= err.msg
