html, body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height: 100vh;
    position: relative;
}

body {
    padding-top: 100px;
    padding-bottom: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    margin-top: 50px;
    color: #000000;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
}

input[type=checkbox] {
  transform: scale(1.5);
}

input[type=radio] {
  transform: scale(1.5);
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.navbar-inverse {
  background-color: #5F1E98;
  border-color: #4a1a7d;
  min-height: 80px;
}

.navbar-nav > li {
  background-image:
    linear-gradient(45deg, #5F1E98 25%, #4a1a7d 25%, #4a1a7d 50%, #5F1E98 50%, #5F1E98 75%, #4a1a7d 75%, #4a1a7d 100%),
    linear-gradient(45deg, #5F1E98 25%, #4a1a7d 25%, #4a1a7d 50%, #5F1E98 50%, #5F1E98 75%, #4a1a7d 75%, #4a1a7d 100%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  margin: 0 2px;
  border-radius: 5px;
  border: 2px solid #4a1a7d;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 32px;
}

.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
}
.navbar-inverse .navbar-brand {
  color: #ecf0f1;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
}
.navbar-inverse .navbar-text {
  color: #ecf0f1;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color: #5F1E98;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #4a1a7d;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #4a1a7d;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #4a1a7d;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #4a1a7d;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #4a1a7d;
}
.navbar-inverse .navbar-toggle {
  border-color: #4a1a7d;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #4a1a7d;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #ecf0f1;
}
.navbar-inverse .navbar-link {
  color: #ecf0f1;
}
.navbar-inverse .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #4a1a7d;
  }
}

.navbar {
  background-image: none;
}

/* Button styles - Purple theme */
.btn-primary {
  background-color: #5F1E98;
  border-color: #4a1a7d;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #4a1a7d;
  border-color: #3d145f;
}

.btn-default {
  background-color: #5F1E98;
  border-color: #4a1a7d;
  color: #ffffff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  background-color: #4a1a7d;
  border-color: #3d145f;
  color: #ffffff;
}

.btn-danger {
  background-color: #5F1E98;
  border-color: #4a1a7d;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  background-color: #4a1a7d;
  border-color: #3d145f;
}

.btn-link {
  color: #5F1E98;
}
.btn-link:hover,
.btn-link:focus {
  color: #4a1a7d;
  text-decoration: underline;
}

/* Role labels */
.label-danger {
  background-color: #d9534f;
}
.label-primary {
  background-color: #5F1E98;
}
.label-default {
  background-color: #777;
}
.label {
  display: inline-block;
  padding: 0.3em 0.6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.text-success {
  color: #5cb85c;
}
.text-warning {
  color: #f0ad4e;
}
.text-muted {
  color: #777;
}

.table thead th {
  background-color: #5F1E98;
  color: #fff;
}

